﻿
@{
    ViewBag.Title = "Common";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6" id="category-view">
        @Html.Action("Index", "Category")
    </div>
    <div class="col-md-6" id="brand-view">
        @Html.Action("Index", "Brand")
    </div>
</div>
<div id="mod-dialog" class="modal fade">
    <div id="dialog-content" class="modal-dialog"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

