﻿@model WebShop.Models.CartVM
<a class="nav-item nav-link" href=@Url.RouteUrl("Cart")>
        @Html.Raw($"{Model.GetItems.Sum(i => i.Count)} pc {Model.GetTotal :C}")
        <span>
            <i class="fa fa-shopping-cart"></i>
        </span>
    </a>
