﻿@model IEnumerable<BLL.Models.Models.OrderItemDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table" id ="card-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
    </tr>
    </thead>
    @foreach (var item in Model) {
        <tbody>
        <tr id =@item.Product.Number.ToString()>
            <td>
                @item.Product.Name
            </td>
            <td>
                @item.Count
            </td>
            <td>
                @(item.Count*item.Product.Cost)
            </td>
            <td>
                @Ajax.ActionLink("Delete", "Delete", new {key = item.Product.Number}, new AjaxOptions
                {
                    Confirm = "Are sure wants to delete this item?",
                    HttpMethod = "POST",
                    OnComplete = "DeleteIsComplete"
                })
            </td>
        </tr>
        </tbody>
    }
</table>

<button class="btn btn-primary float-right">
    @Ajax.ActionLink("Make Order", "MakeOrder",null, new AjaxOptions
{
    HttpMethod = "POST",
    OnComplete = "DeleteIsComplete"
}, new {@class = "text-dark"})
</button>
