﻿@model IEnumerable<BLL.Models.Models.OrderItemDTO>


@foreach (var item in Model)
{
    <div class="row offset-1 col-md-10  border-bottom border-dark">
        <div class="col-12">
            <b>Product</b>
            <span class="float-right">@item.Product.Name</span>
        </div>
        <div class="col-12">
            <b>Price</b>
            <span class="float-right">@string.Format($"{item.Product.Cost:C}")</span>
        </div>
        <div class="col-12 ">
            <b>Count</b>
            <span class="float-right">@item.Count</span>
        </div>
    </div>
}
<p class="h6">@string.Format($"{Model.Sum(item => item.Count * item.Product.Cost):C}")</p>