﻿@model IEnumerable<BLL.Models.Models.OrderDTO>

@{
    Layout = null;
}
@foreach (var item in Model)
{
    <div class="card col-md-12 border-bottom border-top border-secondary my-2 mx-auto">
        <div class="card-body">
            <div class="card-title">
                <span class="text-muted"> @item.Number</span> <span class="float-right">@string.Format($"{item.Date:d}")</span>
            </div>
            <div class="card-text">
                @Html.Partial("OrderItemView", item.OrderItems)
            </div>
        </div>
    </div>
}
<p class="h5">@ViewBag.Sum</p>