﻿@model IEnumerable<WebShop.Models.MenuItemsVM>


<div class="navbar-nav">
    @foreach (var item in Model)
    {
            @Html.ActionLink(item.Name, item.Action, item.Controller, null, new{@class = "nav-item nav-link " + item.Active })
    }
</div>
