﻿@model WebShop.Models.ProductVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.HiddenFor(m => m.Number)
        @Html.LabelFor(model => model.Name, new {@class = "control-label"})
        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control col-10"}})
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, new {@class = "control-label"})
        @Html.TextAreaFor(m => m.Description, new {@class = "form-control col-10", rows = "6", cols = "10"})
        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cost, new {@class = "control-label"})

        @Html.EditorFor(model => model.Cost, new {htmlAttributes = new {@class = "form-control col-10"}})
        @Html.ValidationMessageFor(model => model.Cost, "", new {@class = "text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, new {@class = "control-label"})
        @Html.EditorFor(model => model.Quantity, new {htmlAttributes = new {@class = "form-control col-10"}})
        @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName, new {@class = "control-label"})
        @Html.DropDownListFor(p => p.CategoryName, (IEnumerable<SelectListItem>) ViewBag.Categories, new {@class = "form-control col-10"})
        @Html.ValidationMessageFor(model => model.CategoryName, "", new {@class = "text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BrandName, new {@class = "control-label"})
        @Html.DropDownListFor(p => p.BrandName, (IEnumerable<SelectListItem>) ViewBag.Brands, new {@class = "form-control col-10"})
        @Html.ValidationMessageFor(model => model.BrandName, "", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}
<div>
    @Html.ActionLink("Back to List", "List", "Product")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


