﻿@model BLL.Models.Models.ProductDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h4>@Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        @Html.Action("Index", "Image", new { product = Model.Number })
    </div>
    <div class="col-md-6">
        <div>
            <h4><b>Category</b><span class="float-right">@Model.CategoryName</span></h4>
        </div>
        <div>
            <h4><b>Brand</b><span class="float-right"> @Model.BrandName</span></h4>
        </div>
        <label class="text-black-50">Description</label>
        <div class ="pb-5">
            @Model.Description
        </div>
        <div class="card-subtitle">
            <b>Quantity</b> <span class="float-right">@String.Format($"{Model.Quantity}") </span>
        </div>
        <div class="card-subtitle">
            <b>Price</b> <span class="float-right">@String.Format($"{Model.Cost:C}") </span>
        </div>
        @Html.Partial("AddToCart", Model, new ViewDataDictionary { { "returnUrl", Request.Path } })
        <p>Product Id: <span class="text-muted">@Model.Number</span></p>
    </div>
</div>

