﻿@using Microsoft.Ajax.Utilities
@model WebShop.Models.ProductVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Product</h2>
@using (Html.BeginForm())
{
    <div class="row">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-6">
            <div class="form-group">
                @Html.HiddenFor(m => m.Number)
                @Html.LabelFor(model => model.Name, new {@class = "control-label"})
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control col-10"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new {@class = "control-label"})
                @Html.TextAreaFor(m => m.Description, new {@class = "form-control col-10", rows = "6", cols = "10"})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cost, new {@class = "control-label"})

                @Html.EditorFor(model => model.Cost, new {htmlAttributes = new {@class = "form-control col-10"}})
                @Html.ValidationMessageFor(model => model.Cost, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, new {@class = "control-label"})
                @Html.EditorFor(model => model.Quantity, new {htmlAttributes = new {@class = "form-control col-10"}})
                @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryName, new {@class = "control-label"})
                @Html.DropDownListFor(p => p.CategoryName, (IEnumerable<SelectListItem>) ViewBag.Categories, new {@class = "form-control col-10"})
                @Html.ValidationMessageFor(model => model.CategoryName, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BrandName, new {@class = "control-label"})
                @Html.DropDownListFor(p => p.BrandName, (IEnumerable<SelectListItem>) ViewBag.Brands, new {@class = "form-control col-10"})
                @Html.ValidationMessageFor(model => model.BrandName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="col-md-6 p-2 border-light" id="img-list" style="overflow-y: scroll; max-height: 700px">
            @Html.Action("GetImages", "Image", new {product = Model.Number})
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>
        <div class="form-group col-4">
            <input type="file" id="img-load" value="Choose file" placeholder="Choose file" class="form-control" accept="image/x-png,image/jpeg">
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List", "Product")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function Image(data, product) {
            this.DataUrl = data;
            this.Product = product;
        }
        $('#img-load').change(
            function() {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var img = new Image(e.target.result, "@Html.Raw(Model.Number)");
                    Save(img);
                    $('#img-load').val("");
                }
                reader.readAsDataURL(this.files[0]);
            });
        function Save(img) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("CreateImage", "Image")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(img),
            }).done(function() {
                $('#img-list').load('@Url.Action("GetImages", "Image", new {product = Model.Number})')
            });
        }
    </script>
}