﻿@model BLL.Models.Models.ProductDTO


<div class="col-lg-4 mb-2">
    <div class="card" id="@Model.Number.ToString()">
        @Html.Action("ProductCardImage", "Image", new {product = Model.Number})
        <div class="card-body">
            <h5 class="card-title">
                <a class="text-dark" href=@Url.RouteUrl("Product", new {number = Model.Number})>@Model.Name</a>
            </h5>
            <div>
                <h6>@Model.CategoryName</h6>
            </div>
            <div>
                <h6>@Model.BrandName</h6>
            </div>
            <div class="card-subtitle">
                <b>Quantity</b> <span class="float-right">@string.Format($"{Model.Quantity}") </span>
            </div>
            <div class="card-subtitle">
                <b>Price</b> <span class="float-right">@string.Format($"{Model.Cost:C}") </span>
            </div>
        </div>
        <div class="card-footer">
            @Html.Partial("AddToCart", Model)
            @if (User.IsInRole("admin"))
            {
                <div>
                    <a href=@Url.RouteUrl("EditProduct", new {number = Model.Number})> Edit</a>
                    @Ajax.ActionLink("Delete", "Delete", "Product", new {number = Model.Number}, new AjaxOptions
                    {
                        Confirm = "Are sure wants to delete this item?",
                        HttpMethod = "POST",
                        OnComplete = "DeleteIsComplete"
                    })
                </div>
            }
            <small class="text-muted d-block">@Model.Number</small>
        </div>
    </div>
</div>