﻿@model WebShop.Models.PageListVM<BLL.Models.Models.ProductDTO>



@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-3 col-sm-6">
           @Html.Action("SelectCategory")
            @Html.Action("SelectBrand")
    </div>
    <div class="col-md-9 col-sm-6" >
        <div id="ProductList">
            @if (@Model.Count == 0) {
                <p class="h3">
                    Sorry, nothing was found
                </p>
            }
            else
            {
                @Html.Partial("ListPartial", Model);
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col fixed-bottom mb-5 mr-5">
                <button class="btn btn-primary float-right">
                    @Html.ActionLink("Create new..", "Create", "Product", null, new { @class = "text-dark" })
                </button>
            </div>
        }
    </div>
</div>