﻿@using System.Text
@model WebShop.Models.PageListVM<BLL.Models.Models.ProductDTO>


@{
    var categoryName = HttpContext.Current.Request.QueryString.Get("category");
    var brandName = HttpContext.Current.Request.QueryString.Get("brand");

    var liItem = new TagBuilder("li");
    var html = new StringBuilder();

    liItem.InnerHtml = Ajax.ActionLink("Prev", "List", new {category = categoryName, brand = brandName, page = Model.CurrentPage - 1},
        new AjaxOptions {InsertionMode = InsertionMode.Replace, UpdateTargetId = "ProductList"},
        new {@class = "page-link ajax-page-link"}
        ).ToString();
    liItem.AddCssClass("page-item");


    if (Model.CurrentPage == 1)
    {
        liItem.AddCssClass("disabled");
    }
    html.Append(liItem);


    for (var i = 1; i <= Model.TotalPages; i++)
    {
        var li = new TagBuilder("li");

        li.AddCssClass("page-item");
        if (i == Model.CurrentPage)
        {
            li.InnerHtml = @"<span class='page-link'>" + i +
                           @"<span class='sr-only'>(current)</span></span>";
        }
        else
        {
            li.InnerHtml = Ajax.ActionLink(i.ToString(), "List", new {category = categoryName, brand = brandName, page = i},
                new AjaxOptions {InsertionMode = InsertionMode.Replace, UpdateTargetId = "ProductList"},
                new {@class = "page-link ajax-page-link"}
                ).ToString();
        }

        html.Append(li);
    }

    {
        liItem = new TagBuilder("li")
        {
            InnerHtml = Ajax.ActionLink("Next", "List", new {category = categoryName, brand = brandName, page = Model.CurrentPage + 1},
                new AjaxOptions {InsertionMode = InsertionMode.Replace, UpdateTargetId = "ProductList"},
                new {@class = "page-link ajax-page-link"}
                ).ToString()
        };
        liItem.AddCssClass("page-item");
        if (Model.CurrentPage == Model.TotalPages)
        {
            liItem.AddCssClass("disabled");
        }
        html.Append(liItem);
    }
}

<nav class="col align-self-end">
    <ul class="pagination justify-content-center">
        @MvcHtmlString.Create(html.ToString())
    </ul>
</nav>