﻿@model IEnumerable<string>
@{
   var categoryName = HttpContext.Current.Request.QueryString.Get("category") ?? "All";
    var brandName = HttpContext.Current.Request.QueryString.Get("brand");
}
<div class="dropdown mb-5 mw-100">
    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @categoryName
    </button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    @Html.ActionLink("All", "List", new { category = (string)null, brand = (string)null }, new {@class = "dropdown-item"})
    @foreach (var item in @Model)
    {
        @Html.ActionLink(item, "List", new { category = item, brand = brandName }, new { @class = "dropdown-item" })
    }
</div>
</div>




