﻿@{
    ViewBag.Title = "Api";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row d-flex justify-content-between">
    <div class="input-group mb-3 col-md-5">
        <div class="input-group-prepend">
            <label class="input-group-text" for="category-select">Category</label>
        </div>
        <select class="custom-select product-select" id="category-select" data-type="category">
            <option value="">All</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="input-group mb-3 col-md-5">
        <div class="input-group-prepend">
            <label class="input-group-text" for="brand-select">Brand</label>
        </div>
        <select class="custom-select product-select" id="brand-select" data-type="brand"></select>
    </div>
</div>


<div style="min-height: 300px">
    <table class="table table-hover" id="productTable">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody style="cursor: pointer"></tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul id="paging" class="pagination justify-content-center"></ul>
</nav>

<div id="modal-details" class="modal fade">
    <div class="modal-dialog  bg-white" id="details">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="float-left product-name"></h4>
                <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            </div>
            <div class="modal-body">
                <div class="p-4">
                    <b>Category</b>
                    <p>
                        <span class="category"></span>
                    </p>

                    <b>Brand</b>
                    <p>
                        <span class="brand"></span>
                    </p>
                    <b class="">Description</b>
                    <p>
                        <cpan class="pb-5 description">
                        </cpan>
                    </p>
                    <b>Quantity</b>
                    <p>
                        <span class="quantity"></span>
                    </p>
                    <b>Price</b>
                    <p>
                        <span class="cost"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-create" class="modal fade">
    <div class="modal-dialog  bg-white" id="create">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="float-left">Create</h4>
                <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            </div>
            <div class="modal-body">
                <div class="p-4 form-group">
                    <p class="text-danger" id="error"></p>
                    <b>Name</b>
                    <p>
                        <input type="text" class=" form-control product-name"/>
                    </p>
                    <b class="">Description</b>
                    <p>
                        <textarea class="pb-3 form-control description" rows="4" cols="50"></textarea>
                    </p>
                    <b>Quantity</b>
                    <p>
                        <input type="number" class="quantity form-control"/>
                    </p>
                    <b>Price</b>
                    <p>
                        <input type="number" class="cost form-control"/>
                    </p>
                    <b>Category</b>
                    <p>
                        <select class="custom-select category form-control" id="category-modal-select" data-type="brand"></select>
                    </p>

                    <b>Brand</b>
                    <p>
                        <select class="custom-select brand form-control" id="brand-modal-select" data-type="brand"></select>
                    </p>
                </div>
                <div>
                    <button class="mx-auto btn btn-default" id="ok-create">Ok</button>
                    <button class="mx-auto btn btn-default" id="cancel-create">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col fixed-bottom mb-5 mr-5">
    <button class="btn btn-primary float-right" id="api-create-btn">
        Create New
    </button>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            const GetPageUrl = 'api/guitar/list';
            var product = {
                number: null,
                name: "",
                categoryName: "",
                brandName: "",
                description: "",
                cost: "",
                quantity: ""
            };

            var Query = {
                category: "",
                brand: "",
                page: 1,
                getUrl: function() {
                    const _page = `?page=${this.page}`;
                    var _brand = "";
                    var _category = "";
                    if (this.category != "") {
                        _category = `&category=${this.category}`;
                    }
                    if (this.brand != "") {
                        _brand = `&brand=${this.brand}`;
                    }
                    return GetPageUrl + _page + _category + _brand;
                }
            };
            LoadProducts();
            LoadSelect("category");
            LoadSelect("brand");
            $(document).on("click", ".api-del-link", DeleteItem);
            $(document).on("click", ".page-link", PageChange);
            $(document).on("change", ".product-select", SelectChange);
            $(document).on("dblclick", "#productTable tr", ProductChoose);
            $(document).on("click", "#api-create-btn", ShowCreateModal);
            $(document).on("click", "#cancel-create", CancelModalClick);
            $(document).on("click", "#ok-create", OkModalClick);

            function OkModalClick() {
                product.name = $("#create .product-name").val();
                const category = $("#category-modal-select")[0];
                const categoryName = category.selectedOptions[0].innerText;
                product.categoryName = categoryName;
                const brand = $("#brand-modal-select")[0];
                const brandName = brand.selectedOptions[0].innerText;
                product.brandName = brandName;
                product.cost = $("#create .cost").val();
                product.quantity = $("#create .quantity").val();
                product.description = $("#create .description").val();
                console.log(product);
                SaveProduct(product);

            }

            function SaveProduct(product) {
                const json = JSON.stringify(product);
                $.ajax({
                    url: '/api/guitar/create',
                    type: 'POST',
                    data: json,
                    contentType: "application/json;charset=utf-8",
                    success: function(data) {
                        LoadProducts();
                        $("#modal-create").modal("hide");

                    },
                    error:
                        function (error) {
                            alert("Something went wrong. Complete all fields correctly.");
                        }
                });
            }


            function CancelModalClick() {
                $("#modal-create").modal("hide");
            }


            function ShowCreateModal() {
                $("#error").empty();
                $("#modal-create").find("input, textarea").val("");
                $("#modal-create").modal("show");
            }

            function SelectChange(e) {
                const element = e.target;
                const value = element.options[element.selectedIndex].value.replace(/_/gi, " ");
                const type = element.getAttribute('data-type');
                Query[type] = value;
                Query.page = 1;
                LoadProducts();
            }

            function ProductChoose(e) {
                const element = e.target.closest('tr');
                const id = element.id;
                LoadProduct(id);
            }

            function LoadProduct(id) {
                const url = `api/guitar/product/${id}`;
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        console.log(data);
                        FillModalDetails(data);
                        $("#modal-details").modal("show");
                    },
                    error: function(data) {
                        alert("Data not found");
                    }
                });
            }

            function LoadSelect(id) {
                const url = `api/guitar/${id}`;
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        FillPageSelect(id, data);
                        FillSelect(`#${id}-modal-select`, "", data);
                    },
                    error: function(data) {
                        alert("Data not found");
                    }
                });
            }

            function LoadProducts(url = null) {
                if (url === null) {
                    url = Query.getUrl();
                }
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        FillTable(data.productList);
                        FillPagin(data);
                    },
                    error: function(data) {
                        alert("Data not found");
                    }
                });
            }

            function PageChange(e) {
                e.preventDefault();
                const element = e.target;
                const page = element.getAttribute("data-item");
                Query.page = page;
                LoadProducts();

            }

            function DeleteItem(e) {
                e.preventDefault();
                const element = e.target;
                const id = element.getAttribute('data-item');
                const ask = confirm("Are sure wants to delete this item?");
                if (ask) {
                    $.ajax({
                        url: `api/guitar/delete/${id}`,
                        type: 'DELETE',
                        contentType: "application/json;charset=utf-8",
                        success: function(data) {
                            LoadProducts();
                        },
                        error: function(data) {
                            alert("Something went wrong.");
                        }
                    });
                }
            }

            function FillModalDetails(data) {
                $("#details .category").html(data.categoryName);
                $("#details .brand").html(data.brandName);
                $("#details .description").html(data.description);
                $("#details .product-name").html(data.name);
                $("#details .quantity").html(data.quantity);
                $("#details .cost").html(`${data.cost} $`);
            }


            function FillPageSelect(id, data) {
                var html = "";
                html = '<option value="">All</option>';
                $(`#${id}-select`).html("");
                FillSelect(`#${id}-select`, html, data);
            }

            function FillSelect(selector, html, data) {
                $.each(data, (index) => { html += OptionTemplate(data[index]) });
                $(selector).html(html);
            }

            function FillTable(data) {
                var html = "";
                $("#productTable tbody > tr").remove();
                $.each(data, (index) => { html += TableRowTemplate(data[index]) });
                $("#productTable tbody").html(html);
            }

            function FillPagin(data) {
                var html = "";
                $("#paging>li").remove();
                for (let i = 1; i <= data.totalPage; i++) {
                    html += PaginTemplate(i, data.currentPage);
                }
                $("#paging").html(html);
            }

            function PaginTemplate(i, a) {
                const active = i === a ? "active" : "";
                return `<li class="page-item ${active}"><a class="page-link" data-item=${i} href="#">${i}</a></li>`;
            }

            function TableRowTemplate(item) {
                return `<tr id = ${item.number}>
                        <td>${item.name}</td>
                        <td>${item.categoryName}</td>
                        <td>${item.brandName}</td>
                        <td>${item.cost}$</td>
                        <td>${item.quantity}</td>
                        <td><a data-item=${item.number} href="" class="api-del-link" >Delete</a></td>
                        </tr>`;
            }

            function OptionTemplate(name) {
                return `<option value=${name.replace(/ /gi, "_")}>${name}</option>`;
            }

        })
    </script>
}