﻿@model BLL.Models.Models.UserDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Model.UserName</h4>
    <hr />
    <div class="row col-md-12 d-flex justify-content-between">
        <div class="w-auto">
            <p class="h5">Login</p>
            <p class="h6">@Model.UserName</p>
        </div>
        <div class="w-auto">
            <p class="h5">Name</p>
            <p class="h6">@Model.RealName</p>
        </div>
        <div class="w-auto">
            <p class="h5">Email</p>
            <p class="h6">@Model.Email</p>
        </div>
        <div class="w-auto">
            <p class="h5">Phone</p>
            <p class="h6">@Model.Phone</p>
        </div>
        <div class="w-auto">
            <p class="h5">Roles</p>
            @foreach (var role in Model.Roles)
            {
                <span class="h6">@role; </span>
            }
        </div>
    </div>
</div>
<br/>
<p class="h4 d-block">History of orders</p>
@Html.Action("UserOrder", "Cart", new {email = Model.Email})


