﻿@model IEnumerable<BLL.Models.Models.UserDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table" id="userTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Roles)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr id= @item.Email>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td id =@string.Format($"{item.UserName}-role")>
                @Html.Action("UserRoles", new { name = item.UserName })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {name = item.UserName})|
                @Ajax.ActionLink("Delete", "Delete", new {name = item.UserName}, new AjaxOptions
                {
                    Confirm = "Are sure wants to delete this item?",
                    HttpMethod = "Post",
                    OnComplete = "DeleteIsComplete"
                })
            </td>
        </tr>
    }
</table>


@section Scripts{
    <script>
        function LoadUserRoles(id) {
            var href = "/Admin/UserRoles?name=" + id;
            $.get(href,
                function (data) {
                    console.log(data);
                    $("#" + id + "-role").html(data);
                });
        }
    </script>
}
