﻿@model IEnumerable<WebShop.Models.RoleVM>

@{
    Layout = null;
}
@{
    var id = $"{Model.First().UserName}-roles";
}

@using (Ajax.BeginForm("UserRoles", new AjaxOptions
{
    HttpMethod = "POST",
    OnComplete = $"LoadUserRoles('{Model.First().UserName}')"
}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @for (var i = 0; i < Model.Count(); i++)
        {
            @Html.HiddenFor(x => x.ToArray()[i].UserName)
            <div class="form-group mb-0 d-inline">
                @Html.HiddenFor(x => x.ToArray()[i].Role)
                @Html.DisplayFor(x => x.ToArray()[i].Role)
                @Html.CheckBoxFor(x => x.ToArray()[i].IsChecked, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        }
        <button type="submit" class="btn bg-transparent d-inline"><i class="fa fa-save"></i> Save</button>
    </div>
}


