﻿@model BLL.Models.Models.BrandDTO

<div class="modal-content">
    <div class="modal-header">
        <h4 class="float-left">Details</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            <div>
                <b>Name</b>
                <p>@Html.DisplayFor(model => model.Name)</p>

                <b>Description</b>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>