﻿@model IEnumerable<BLL.Models.Models.BrandDTO>

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new {@class = "dialog-link"})
    </p>
}
@foreach (var item in Model)
{
    <div class="border-top border-dark py-3">
        <a class ="dialog-link text-dark" href =@Url.RouteUrl("Default", new {controller = "Brand", action = "Details", id = item.Id })>
            <div class="col-12">
                <b>Brand</b>
                <p>@item.Name</p>
            </div>
            <div class="col-12">
                <b>Description</b> <br/>
                <p class="d-inline-block text-truncate" style="max-width: 100%;">
                    @item.Description
                </p>
            </div>
        </a>
        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
        {
            <div class="col-12">
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "dialog-link"}) |
                @Ajax.ActionLink("Delete", "Delete", new {id = item.Id}, new AjaxOptions
                {
                    Confirm = "Are sure wants to delete this item?",
                    HttpMethod = "POST",
                    OnComplete = "DeleteIsComplete"
                })
            </div>
        }
    </div>
}