﻿@using WebShop.Authentication
<div class="navbar-nav float-right">

@if (Request.IsAuthenticated)
{
    <div>
        <a href=@Url.Action("PersonalAccount") class="nav-item nav-link">
            <span class ="d-block"> @string.Format($"Hi {User.Identity.Name}!")</span>
        </a>
    </div>
     @Html.ActionLink("Log off", "LogOff", new {returnUrl = Request.Url}, new {@class = "nav-item nav-link"})
    <div id ="cart-View">
        @Html.Action("Cart", "Cart")
    </div>
}
else
{
        @Html.ActionLink("Log in", "Login", null, new {@class = "nav-item nav-link"})
        @Html.ActionLink("Registration", "Register", null, new {@class = "nav-item nav-link"})
}

</div>