﻿@model BLL.Models.Models.UserDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row col-md-12">
        <div class ="col-md-10">
            <h4>@Model.UserName</h4>
        </div>
        <div class="col-md-2">
            <a class="text-black-50 float-right" href = @Url.Action("Edit")>
                Edit
            </a>
        </div>
    </div>
    <hr />
    <div class="row col-md-12 d-flex justify-content-between">
        <div class="w-auto">
            <p class="h5">Login</p>
            <p class="h6">@Model.UserName</p>
        </div>
        <div class="w-auto">
            <p class="h5">Name</p>
            <p class="h6">@Model.RealName</p>
        </div>
        <div class="w-auto">
            <p class="h5">Email</p>
            <p class="h6">@Model.Email</p>
        </div>
        <div class="w-auto">
            <p class="h5">Phone</p>
            <p class="h6">@Model.Phone</p>
        </div>
    </div>
</div>
<br />
<p class="h4 d-block">History of orders</p>
@Html.Action("UserOrder", "Cart", new { name = Model.UserName })
