﻿@using WebShop.Authentication
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            @Html.ActionLink("MVC", "Index", "Home", null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-left" id="navbarNavAltMarkup">
                @Html.Action("Index", "Menu", new
                {
                    controller = Request.RequestContext.RouteData.Values["Controller"],
                })
            </div>
            <div class="nav float-right">
                @Html.Action("Index", "Account")
            </div>
        </nav>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom justify-content-between">
    <span class="text-light">&copy; @DateTime.Now.Year - My ASP.NET Application</span>
    <span class="text-light">@string.Format($"{(User as AuthUser)?.Email}")</span>
</nav>
@Scripts.Render("~/bundles/ajax")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/main")
@RenderSection("scripts", required: false)
</body>
</html>
