﻿@model BLL.Models.Models.ProductDTO
@if (User.Identity.IsAuthenticated && User.IsInRole("user"))
{
    <button role="link" class="btn btn-primary col-4 add-cart-button" data-type=@Model.Number data-href =@Url.Action("AddToCart", "Cart", new {number = @Model.Number})>
        <i class="fa fa-cart-plus"></i>
    </button>
    <select class="custom-select col-4 float-right quantity_select">
        @for (var i = 1; i <= @Model.Quantity; i++)
        {
            <option value=@i>@i</option>
        }
    </select>
}

