﻿@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <span class="display-1 d-block text-danger">401</span>
        <div class="mb-4 display-4 lead">Unfortunately, you do not have permission to view this page.</div>
        <a href=@Url.Action("Index", "Home") class="btn btn-link">Back to Home</a>
    </div>
</div>