﻿@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <span class="display-1 d-block text-danger">500</span>
        <div class="mb-4 display-4 lead">Something has gone seriously wrong</div>
        <a href=@Url.Action("Index", "Home") class="btn btn-link">Back to Home</a>
    </div>
</div>