﻿@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <span class="display-1 d-block">404</span>
        <div class="mb-4 lead display-4">The page you are looking for was not found.</div>
        <a href=@Url.Action("Index", "Home") class="btn btn-link">Back to Home</a>
    </div>
</div>