﻿@model WebShop.Models.ImageVM

<div id = @Model.Name>
    <img class ="d-block w-100" src=@Model.DataUrl>
    @Ajax.ActionLink("Delete", "Delete", "Image", new {number = @Model.Name}, new AjaxOptions
{
    Confirm = "Are sure wants to delete this item?",
    HttpMethod = "POST",
    OnComplete = "DeleteIsComplete"
})
</div>

