﻿@model IEnumerable<WebShop.Models.ImageVM>

@{
    Layout = null;
}

@if (Model.Any())
{
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src=@Model.First().DataUrl>
            </div>
            @foreach (var item in Model.Skip(1))
            {
                <div class="carousel-item ">
                    <img class="d-block w-100 h-100" src=@item.DataUrl alt="@item.Name">
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon text-black-50" aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
            <span class="sr-only ">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon text-black-50" aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
else
{
    <img class="card-img-top" src="http://placehold.it/100x100" alt="No Image" />
}


